.header {
  width: 100%;
  height: 6rem;
  background: white;
  align-items: center;
  display: flex;
  box-shadow: 0px 7px 5px -2px rgba(0,0,0,0.2);
}

.logotype {
  background-image: url('../public/logotipoflat.png');
  width: 12rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0rem 2rem;
  border-radius: 2px;
}

.navbar {
  margin: 0rem 2rem;
  background: rgb(170, 170, 170);
  height: 2.9rem;
  border-radius: 4px;
  display: flex;
}

.bartext {
  border-radius: inherit;
  background: rgb(170, 170, 170);
  padding: .9rem;
  color: black;
  outline: none;
  border: 0;
  width: 40rem;
}

.searchbar:hover {
  background: #ffce52;
  border-radius: inherit;
  transition: .2;
  cursor: pointer;
}

.account {
  display: flex;
  align-items: center;
  margin: 1rem 0rem;
  padding: 5px;
}

.account:hover {
  box-shadow:0px 0px 0px 1px black inset;
  border-radius: 5px;
  transition: .2;
  cursor: pointer;
}

.accountname {
  font-size: 18px;
}

.cart {
  display: flex;
  margin: 1rem 6rem;
  padding: 5px;
}

.cart:hover {
  box-shadow:0px 0px 0px 1px black inset;
  border-radius: 5px;
  transition: .2;
  cursor: pointer;
}

.banner {
  width: 100%;
  position: absolute;
  height: calc(100vh - 6rem);
  background: url('../public/bannerexemplo.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.bannerNews {
  width: 100%;
  height: 110px;
  background: url('../public/capa.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.content {
  width: 100%;
  margin-top: 20rem;
}

.categories {
  background: white;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 4rem;
  border-radius: 2px;
}

.titlecategories {
  border-bottom: rgb(179, 179, 179) solid 1px;
  margin-bottom: 10px;
  padding: 10px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.itemcategorie {
  box-shadow:0px 0px 0px 1px rgb(161, 161, 161) inset;
  padding: 18px;
  margin: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categories .itemcategorie img {
  width: 72px;
  height: 72px;
}

.widget {
  background: white;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 4rem;
}

.titleWidget {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  border-bottom: rgb(179, 179, 179) solid 1px;
}

.itemsWidget > ul {
  margin: 10px 20px;
  display: flex;
  flex-wrap: wrap;
}

.itemsRecommended > ul {
  transform: translateX(130px);
}

.itemsWidget > ul > li {
  margin: 0 10px;
  max-width: 130px;
  overflow: hidden;
}

.itemsWidget > ul > li > a > img {
  width: auto;
  height: auto;
  max-width: 130px;
  max-height: 130px;
}

.widgetVertical {
  background: white;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  width: 30rem;
  flex-wrap: wrap;
  margin: 4rem;
}

.titleWidgetVertical {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: left;
  font-weight: bold;
  text-align: center;
  border-bottom: rgb(179, 179, 179) solid 1px;
}
.itemsWidgetVertical > ul {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.itemsWidgetVertical > ul > li {
  margin: 2px 0;
  width: 48%;
}

.itemsWidgetVertical > ul > li > a > img {
  width: auto;
  height: auto;
  max-width: 270px;
  max-height: 200px;
}

.loginContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.loginTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px;
}

.loginForm > div > div > label {
  margin: 5px 0;
  display: flex;
  width: 100%;
}

.loginForm > div > div > input {
  margin-bottom: .7rem;
  width: 255px;
  padding: 4px;
}

.loginForm > div > button {
  width: 100%;
  margin: .9rem 0;
  padding: 4px;
}
.loginForm > div > button:hover {
  cursor: pointer;
}

.containerProduct {
  margin: 40px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.containerProduct .Title {
  width: 100%;
  padding: 0 1rem 0 10rem;
  font-weight: bold;
  font-size: 22px;
}

.containerProduct .containerItem {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.containerProduct .containerItem .containerImage {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.containerProduct .containerItem .containerImage .Evaluation {
  width: 100%;
  border-left: solid 1px rgb(90, 90, 90);
  border-right: solid 1px rgb(90, 90, 90);
  text-align: center;
  margin: 1.5rem 17.2rem 3.5rem 17.2rem;
}

.containerProduct .containerItem .containerImage img {
  max-width: 20rem;
  padding-left: 2rem;
  border: solid 1px rgb(90, 90, 90, .3);
  border-radius: 10px;
}

.containerProduct .containerDescription {
  width: 50%;
  padding: 2rem;
}

.containerProduct .containerDescription * {
  margin: 4px;
}

.containerProduct .containerDescription .Price {
  width: max-content;
  font-size: 32px;
  color: #181818;
}

.containerProduct .containerDescription .buyBottom button{
  margin: 1.2rem;
  color: #ffffff;
  text-decoration: none;
  width: max-content;
  border-radius: 4px;
  padding: 12px 40px;
  background: #d6922b;
  cursor: pointer;
}

.precart {
  display: flex;
  flex-wrap: wrap;
}

.precart .productInfo {
  width: 100%;
  margin: 4rem 4rem 0 4rem;
  display: flex;
  align-items: center;
}

.precart .productInfo * {
  padding: 10px;
}

.precart .productInfo img{
  max-width: 10rem;
}

.precart .buttonsInfo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.precart .buttonsInfo h3 {
  margin-bottom: 10px;
}

.precart .buttonsInfo a {
  background: #d6922b;
  border-radius: 4px;
  padding: 10px;
  margin: 20px;
}

.containerCart {
  margin: 3rem;
  border-radius: 4px;
  width: 60rem;
  background: #ffffff;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
}

.containerCart * {
  margin: 4px;
}

.containerCart .adress {
  width: 60%;
}

.containerCart .buttonsEdit {
  display: flex;
  align-items: flex-end;
}
