.header {
  width: 100%;
  height: 6rem;
  background: white;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0px 7px 5px -2px rgba(0,0,0,0.2);
}

.subHeader {
  background: rgba(204, 204, 204, 1);
  display: flex;
}

.subHeader > a {
  padding: .8em 1em;
}

.subHeader > a:hover {
  cursor: pointer;
  box-shadow:inset 0px 0px 0px 1px #000000;
}

.logotype {
  background-image: url('../public/logotipoflat.png');
  width: 12rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0rem 2rem;
  border-radius: 2px;
}

.navbar {
  margin: 0rem 2rem;
  background: rgb(170, 170, 170);
  height: 2.9rem;
  border-radius: 4px;
  display: flex;
}

.bartext {
  border-radius: inherit;
  background: rgb(170, 170, 170);
  padding: .9rem;
  color: black;
  outline: none;
  border: 0;
  width: 40rem;
}

.searchbar {
  border-radius: inherit;
  background: rgba(255, 225, 150, 1);
}

.searchbar:hover {
  background: #ffce52;
  transition: .2;
  cursor: pointer;
}

.account {
  display: flex;
  min-width: 120px;
  align-items: center;
  margin: 1rem 0rem;
  padding: 5px;
}

.account:hover {
  box-shadow:0px 0px 0px 1px black inset;
  border-radius: 5px;
  transition: .2;
  cursor: pointer;
}

.accountname {
  font-size: 18px;
}

.cart {
  display: flex;
  margin: 1rem 6rem;
  padding: 5px;
}

.cart:hover {
  box-shadow:0px 0px 0px 1px black inset;
  border-radius: 5px;
  transition: .2;
  cursor: pointer;
}

.banner {
  width: 100%;
  position: absolute;
  height: calc(100vh - 6rem);
  background: url('../public/bannerexemplo.png') center center no-repeat;
  background-size: cover;
}
.banner .carrousel {
  display: flex;
  justify-content: space-between;
  margin: 10rem 0;
}
.banner .carrousel > svg {
  fill: white;
  cursor: pointer;
}
.bannerNews {
  height: 10em;
  margin: 2em;
  background: url('../public/capa.png');
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.content {
  width: 100%;

}
.bannerHotWords {
  padding: 10px;
  margin: 2em 0;
  background: white;
}
.bannerHotWords > a {
  display: flex;
  flex-direction: column;
  align-items: center;;
}
.bannerHotWords > a:hover {
  cursor: pointer;
}
.bannerHotWords > a > img {
  width: 56px;
}
.categories {
  background: white;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 4rem;
  border-radius: 2px;
}

.titlecategories {
  border-bottom: rgb(179, 179, 179) solid 1px;
  margin-bottom: 10px;
  padding: 10px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.itemcategorie {
  box-shadow:0px 0px 0px 1px rgb(161, 161, 161) inset;
  padding: 18px;
  margin: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categories .itemcategorie img {
  width: 72px;
  height: 72px;
}

.widget {
  background: white;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 4rem;
}

.titleWidget {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  border-bottom: rgb(179, 179, 179) solid 1px;
}

.itemsWidget > ul {
  margin: 10px 20px;
  display: flex;
}

.itemsWidget {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.itemsWidget .esq {
  z-index: 1;
  position: absolute;
  left: 0;
}

.itemsWidget .dir {
  z-index: 1;
  position: absolute;
  right: 0;
}

.itemsWidget > svg:hover {
  cursor: pointer;
}

.itemsWidget > ul {
  position: relative;
  padding: 0 20px;
  transition: .1s;
  z-index: 0;
  display: flex;
  max-height: 14.5em;
}

.itemsWidget > ul > li {
  position: relative;
  padding: 0 10px;
  max-width: 160px;
}

.itemsWidget > ul > li:hover {
  scale: 1.01;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.05);
  transition: 100ms;
}

.itemsWidget > ul > li > a {
  text-decoration: none;
}

.itemsWidget > ul > li > a > .divPrice {
  display: flex;
  margin: 10px 0;
}

.itemsWidget > ul > li > a > .divPrice > div > label:nth-child(1) {
  text-decoration: line-through;
  color: rgba(0,0,0,.54);
}
.itemsWidget > ul > li > a > .divPrice > div > label:nth-child(2),
.itemsWidget > ul > li > a > .divPrice > label {
  font-weight: 600;
  font-size: 16px;
  color: rgba(171, 122, 0, 1);
}

.itemsWidget > ul > li > a > .divPrice > h5:nth-child(2) {
  position: absolute;
  color: rgba(255, 71, 74, 1);
  right: 0;
  top: 0;
  background-color: rgb(20, 20, 20);
  padding: 0 2px;
}

.itemsWidget > ul > li > a > label {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.itemsWidget > ul > li > a > img {
  width: auto;
  height: auto;
  max-width: 130px;
  max-height: 130px;
}

.widgetVertical {
  background: white;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  width: 30rem;
  flex-wrap: wrap;
  margin: 4rem;
}

.titleWidgetVertical {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: left;
  font-weight: bold;
  text-align: center;
  border-bottom: rgb(179, 179, 179) solid 1px;
}
.itemsWidgetVertical > ul {
  padding: 10px;
  display: flex;
}

.itemsWidgetVertical > ul > li {
  margin: 2px 10px;
  width: 100%;
}

.itemsWidgetVertical > ul > li > a > img {
  width: auto;
  height: auto;
  max-width: 270px;
  max-height: 200px;
}

.itemsWidgetVertical > ul > li > a > h6 {
  background: black;
  font-size: 12px;
  font-family: monospace;
  padding: 4px;
  margin: 5px;
  border-radius: 4px;
  width: 110px;
  text-align: center;
  color: rgba(255, 71, 74, 1);
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.login_logotype {
  background: url('../public/logotipoflat-removebg.png') rgba(178, 178, 178, 0.707);
  border-radius: 50%;
  padding: 2.3em 8em;
  width: 12rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0rem 2rem;
  border-radius: 2px;
}

.loginForm {
  /*positions*/
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 2em;
  /*styles*/
  color: black;
  border-radius: 6px;
  background: rgba(255, 255, 255, .6);
  box-shadow: 0px 0px 12px 1px #0000006c;
}

.inputs {
  outline: none;
  /*positions*/
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  /*styles*/
  color: #ffffff;
  border: 2px solid transparent;
  background:  var(--themeColorGray);
  border-radius: 4px;
}


.inputs:hover, .inputs:focus, .divInputs:hover .inputs {
  outline: none;
  border-color: #05060f;
}

.divInputs p:hover, .inputs:focus {
  color: white;
}

.divInputs {
  /*positions*/
  margin: 10px 0;
  /*styles*/
}

.inputPassword p {
  /*positions*/
  align-self: flex-end;
  /*styles*/
}

.loginForm button {
  /*positions*/
  width: 100%;
  padding: 10px;
  align-self: center;
  /*styles*/
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: inherit;
  font-family: inherit;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background: var(--themeColorYellow);
  box-shadow: inset 0px 0px 0px 2px rgba(250, 191, 27, 1);
}

.loginForm button:hover {
  transition: .3s;
  background: rgb(240, 208, 122);
  transform: scale(1.02);
}

.containerProduct {
  margin: 20px 15px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.containerProduct .Title {
  width: 100%;
  padding: 0 1rem 1em 1rem;
  /* font-size: 22px; */
}

.containerProduct .Title a, .containerDescription .moreSell a {
  cursor: pointer;
  color:rgb(78, 146, 248);
}

.containerProduct .Evaluation {
  display: flex;
  align-items: center;
}

.containerProduct .containerItem {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.containerProduct .containerItem .containerImage {
  width: 60%;
  display: flex;
  flex-wrap: wrap;;
  justify-content: center;
  /* align-items: center; */
}

.containerProduct .containerDescription {
  width: 38%;
  padding: 2rem;
}

.containerProduct .containerDescription * {
  margin: 4px;
}

.containerProduct .containerDescription .Price {
  width: max-content;
  font-size: 32px;
  color: #181818;
}

.containerProduct .containerDescription .buyBottom button{
  margin: 1.2rem;
  color: #ffffff;
  text-decoration: none;
  width: max-content;
  border-radius: 4px;
  padding: 12px 40px;
  background: #d6922b;
  cursor: pointer;
}

.containerDescription .moreSell {
  margin: 10px 0;
}

.containerDescription .moreSell label {
  color: white;
  background: rgb(204, 12, 12);
  padding: 2px 5px;
  border-radius: 4px;
}

.precart {
  display: flex;
  flex-wrap: wrap;
}

.precart .productInfo {
  width: 100%;
  margin: 4rem 4rem 0 4rem;
  display: flex;
  align-items: center;
}

.precart .productInfo * {
  padding: 10px;
}

.precart .productInfo img{
  max-width: 10rem;
}

.precart .buttonsInfo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.precart .buttonsInfo h3 {
  margin-bottom: 10px;
}

.precart .buttonsInfo a {
  background: #d6922b;
  border-radius: 4px;
  padding: 10px;
  margin: 20px;
}

.containerCart {
  margin: 3em;
  display: flex;
  flex-wrap: wrap;
}

.containerCart > * {
  background: #ffffff;
  border-radius: 4px;
  margin: 1em;
}

.containerCart .containerAdress {
  flex: 2.5 1;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
}

.containerCart .containerAdress * {
  margin: 4px;
}

.containerCart .containerAdress .adress {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
}

.containerCart .containerAdress .adress .infos {
  flex-grow: 1;
}

.containerCart .containerAdress .adress .buttonsEdit {
  display: flex;
  align-items: flex-end;
}

.containerCart .containerPayment {
  flex: 1 2;
  display: flex;
  padding: 1.2rem;
  flex-wrap: wrap;
  justify-content: center; 
}

.containerCart .containerPayment .paymentTab {
  margin: 10px;
}

.containerCart .containerPayment > a {
  background: rgba(255, 206, 82, 1);
  padding: 10px;
  border-radius: 4px;
  margin: 15px;
}

.containerCart .containerProducts {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
}

.containerCart .containerProducts .products {
  width: 100%;
  margin: 1em;
  background: rgba(0, 0, 0, 0.05);
}

.containerCart .containerProducts .products > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
}

.containerTypePayments {
  text-align: center;
  background: #ffffff;
  position: absolute;
  width: 500px;
  border-radius: 8px;
  padding: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.containerTypePayments > h2 {
  display: flex;
  justify-content: space-between;
}

.containerTypePayments .typesPayments {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;;
}

.containerTypePayments .typesPayments .typesTab {
  width: 100%;
  padding-bottom: 1em;
}

.containerTypePayments .typesPayments .typesTab > button {
  color: #b6bbc2;
  text-decoration: none;
  margin: 10px;
}


.containerTypePayments .typesPayments .typesTab > button > svg[value="show"] > path {
  fill: #ffce52;
}

.containerTypePayments .typesPayments .typesTab > button > svg[value="hidden"] > path {
  fill: #b6bbc2;
}

.containerTypePayments .typesPayments .containerTypes {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  padding-top: .9em;
  width: 100%;
  display: flex;
  justify-content: center;
}

.containerPayments {
  margin: 3rem;
  border-radius: 4px;
  padding: 1rem;
  background: #ffffff;
}

.containerPayments .payment {
  display: flex;
}

.containerPayments .payment .paymentMethods {
  margin: .4rem;
  flex: 1 2;
}

.containerPayments .payment .paymentMethods > button {
  display: flex;
  align-items: center;;
  border-radius: 8px;
  border: 1px solid black;
  margin: 1rem;
  padding: .7rem;
  width: 20rem;
  text-decoration: none;
}

.containerPayments .payment .paymentMethods > button > * {
  margin: 10px;
}

.containerPayments .payment .paymentDescription {
  flex: 2 1;
}

.containerPayments .payment .paymentMethodDisc {
  display: flex;
}

.containerPayments .payment .paymentMethodDisc > div {
  padding: 1em;
  margin: 1em;
  border-radius: 8px;
}

.containerPayments .payment .paymentMethodDisc .discountMethod {
  background: rgba(31, 144, 80, 0.27);
  color: #1f9050;
}

.buttonsPayments {
  flex-direction: row-reverse;
  display: flex;
}

.buttonsPayments > button {
  text-decoration: none;
  background: rgba(255, 206, 82, 1);
  border-radius: 6px;
  padding: 1em 3em;
  margin: 0 2em;
}

.tabPurchased {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  margin: 1rem;
}

.tabPurchased .paymentsPurchased {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tabPurchased .paymentsPurchased > div {
  padding: 1rem;
}

.tabPurchased .paymentsPurchased .methodPayment {
  color: rgba(184, 133, 6, 1);
  text-decoration: underline;
}
.tabPurchased .descriptionPurchased {
  margin: 2em;
}

.tabPurchased .descriptionPurchased > div {
  margin: 1rem;
}

.tabPurchased .descriptionPurchased .Titles {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding:  0px 1em 1em 1em;
}

.tabPurchased .descriptionPurchased .listProducts .listDescription {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.tabPurchased .descriptionPurchased .listProducts .listDescription > * {
  margin: 1em;
}

.tabPurchased .descriptionPurchased .listProducts .listDescription > img {
  width: 64px;
}

.productReview {
  margin: 20px;
}

.productReview .reviewComment {
  padding: 1em;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(0,0,0,.09);
}

.productReview .reviewComment > div {
  margin-right: 20px;
}

.productReview .reviewComment > div > p {
  font-size: 14px;
  padding-bottom: 5px;
}

.productReview .reviewComment > div > span {
  font-size: 11px;
}

.productReview .reviewComment .reviewPictures {
  display: flex;
}

.productReview .reviewComment .reviewPictures .reviewPicture {
  margin: 10px 10px 0 0;
}

.discoveryDay > .itemsDiscoveryDay {
  justify-content: space-around;
  flex-wrap: wrap;
}
.discoveryDay .seeMore {
  width: 100%;
  display: flex;
  justify-content: center;
}
.containerCategory {
  margin: 2rem;
}
.categoryList  {
  display: flex;
  flex-wrap: wrap;
}
.categoryList > li {
  margin: 1em;
}
.categoryList .categoryItem {
  padding: 20px;
  width: 290px;
  background: white;
}
.categoryList .categoryItem > img {
  max-height: 240px;
  max-width: 240px;
}
.categoryList .categoryItem > label {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.categoryList .categoryItem .categoryPrice > div > label:nth-child(1) {
  text-decoration: line-through;
  color: rgba(0,0,0,.54);
}
.categoryList .categoryItem .categoryPrice > div > label:nth-child(2),
.itemsWidget > ul > li > a > .divPrice > label {
  font-weight: 600;
  font-size: 16px;
  color: rgba(171, 122, 0, 1);
}

.similarProducts {
  display: flex;
  flex-wrap: wrap;
  margin: 2em;
}
.similarProducts > h3 {
  width: 100%;
  padding: 10px 0;
}

.similarProducts .similarProduct {
  width: 200px;
  margin: 0 10px;
}

.similarProducts .similarProduct > div {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.addressInfo {
  margin: .5em 2em;
}

.addressInfo > button { 
  margin-right: 10px;
}

.containerTab > h3 {
  margin: 10px;
}